<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @purchaser.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @purchaser.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @purchaser.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @purchaser.phone %>
</p>

<%= link_to 'Edit', edit_purchaser_path(@purchaser) %> |
<%= link_to 'Back', purchasers_path %>
